.square {
    display: inline-block;
    padding: 5px;
    min-height: 40px;
    min-width: 40px;
    line-height: 40ox;
    background-color: black;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin: 0px 14px 0px 14px;
    box-shadow: 0 0 5px 5px #fff;
}

.red {
    background-color: rgb(255, 0, 0);
}

.green {
    background-color: rgb(0, 199, 0);
}

.blue {
    background-color: rgb(0, 0, 255);
}

.yellow {
    background-color: rgb(243, 243, 0);
}